.products {
  width: 100%;
}

.company-logos {
  width: 100%;
  height: 94px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.swiper-img {
  width: 158.5px;
}

.swiper-img,
.public-category-img {
  padding: 16px 40px;
  background-color: #FFFF;
  border-radius: 0.75rem;
  border: 1px solid hsla(0, 0%, 92.5%, .7);
  box-shadow: 0 2px 24px rgb(0 0 0 / 6%);
}

.public-category>h3 {
  font-size: 20px;
}

.swiper-img>img {
  width: 78px;
  height: 30px;
  object-fit: contain;
}

.public-category-img {
  width: 221px;
  height: 78px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

.public-category-img>img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.public-category-img>p {
  font-size: 14px;
  margin-left: 24px;
}

.public-category-banner {
  padding: 20px 0;
}

.product-swiper-wrapper {
  height: 356px;
  padding: 24px 10px
}

.product-swiper-title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product-swiper-title>h2 {
  font-size: 24px;
  font-weight: 600;
}

.product-item {
  width: 238px;
  height: 356px;
  padding: 15px 16px 0;
  margin-top: auto;
  border-right: 1px solid #76767629;
}

.product-item:hover {
  border: 1px solid hsla(0, 0%, 92.5%, .7);
  box-shadow: 0 4px 14px rgb(0 0 0 / 6%);
}

.product-item-img {
  height: 180px;
  margin-bottom: 26px;
}

.product-item-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item-main-wrapper>h1 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #373f41;
}

.product-item-main-wrapper>strong {
  margin: auto 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-dark-color);
}

.product-item-main-sale-price {
  text-decoration: line-through;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #767676;
}

.product-item-cart-wrapper {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-item-cart {
  display: flex;
  align-items: center;
  width: 126px;
  padding: 7px 12px;
  height: 38px;
  background-color: #fbc100;
  border: 2px solid #fbc100;
  border-radius: 6px;
  cursor: pointer;
}

.product-item-cart>p {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-dark-color);
}

.product-item-cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  color: var(--primary-dark-color);
}

.product-item-cart-icons {
  width: 20px;
  height: 24px;
  color: #767676;
  cursor: pointer;
}

.product-item-cart-icons-active {
  color: var(--primary-gold-color);
}

.support-wrapper {
  margin: 40px 0;
}

.support-wrapper>h3 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  border-radius: 6px;
  border: 1px solid #ececec;
}

.support-item {
  width: 100%;
  max-width: 265px;
  min-height: 160px;
  padding: 0 16px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.support-item-img {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.support-item-img>img {
  width: 40px;
  height: 40px;
}

.support-item-main>h3 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-dark-color);
}

.support-item-main>p {
  max-width: 225px;
  padding: 0 auto;
  text-align: center;
  font-size: 13px;
  color: var(--primary-dark-color);
}

.product-addedCart-wrapper {
  display: flex;
  align-items: center;
}

.product-addedCart-count {
  display: flex;
  border: 1px solid #ececec;
  border-radius: 6px;
}

.product-addedCart-icon {
  height: 38px;
  max-width: 130px;
  padding: 7px 6px 7px 12px;
  margin: 6px 16px 0 0;
  border-radius: 6px;
  border: 2px solid #fbc100;
  cursor: pointer;
}

.product-addedCart-count>div {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 512px) {
  .support-wrapper>h3 {
    font-size: 20px;
  }
}