.headerMain {
  width: 100%;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgb(0 0 0 / 2%);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .05));
}

.header__search-mobile-fixed {
  width: 100%;
  max-width: 640px;
}

.headerMain__search-wrapper-mobile {
  width: 100%;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgb(0 0 0 / 2%);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .05));
}

.headerMainWrapper {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1424px;
  margin: 0 auto;
}

.headerMain__logo-wrapper>img {
  max-width: 230px;
  height: 38px;
}

.headerTop-location {
  height: 100%;
  position: relative;
  margin-right: 30px;
  display: none;
  cursor: pointer;
}

.headerTop-location-bar {
  width: 175px;
  position: absolute;
  padding: 10px 0;
  top: 34px;
  left: 0;
  background-color: var(--primary-light-color);
  border-radius: 6px;
  z-index: 8;
}

.headerTop-location-bar>p {
  padding: 7px 15px;
  font-size: 14px;
  color: var(--primary-dark-color);
}

.headerTop-location-bar>p:hover {
  transition: 0.5s;
  background-color: #F3E9C4;
}

.headerTop-location-main {
  display: flex;
  align-items: center;
}

.headerTop-location-main>span {
  width: 70px;
  margin-left: 4px;
  overflow: hidden;
  word-break: keep-all;
  color: var(--primary-dark-color);
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-overflow: ellipsis;
}

.headerTop__location__icon {
  width: 20px;
  height: 20px;
}

.headerTop-number {
  display: none;
  gap: 10px;
}

.headerTop-number>p {
  font-size: 13px;
}

.headerTop-number-icon {
  width: 13px;
  height: 13px;
}

.headerMain__search-wrapper {
  width: 100%;
  display: flex;
}

.headerMain__hamburger {
  display: none;
  background: #fbc100;
  border-radius: 6px;
  padding: 8px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.headerMain__search {
  width: 100%;
  height: 44px;
  border: 2px solid var(--primary-gold-color);
  border-radius: 8px;
}

.headerMain__hamburger-icon {
  width: 20px;
  height: 20px;
}

.form {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.headerMain__select-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 18px;
  background: #f7f7f7;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 9px;
  cursor: pointer;
}

.headerMain__select-wrapper>span {
  font-size: 12px;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerMain__select-icon {
  width: 15px;
  height: 15px;
  margin-left: 12px;
}

.headerMain__select-bar {
  width: 200px;
  max-height: 300px;
  padding: 10px 0;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1050;
  border-radius: 6px;
  overflow: auto;
  scrollbar-width: thin;
  background-color: var(--primary-light-color);
}

.headerMain__select-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #FFFFFF;
}

.headerMain__select-bar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(45, 43, 43, 0.668);
  border-radius: 20px;
}

.headerMain__select-bar>p {
  padding: 7px 15px;
  font-size: 14px;
  color: var(--primary-dark-color);
}

.headerMain__select-bar>p:hover {
  transition: 0.5s;
  background-color: #F3E9C4;
}

.headerMain__input {
  width: 100%;
  height: 100%;
  text-indent: 10px;
  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

.headerMain__microphone {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 40px;
  background-color: var(--primary-light-color);
  cursor: pointer;
}

.headerMain__microphone-icon {
  width: 24px;
  height: 24px;
  color: #BABAC0;
}

.headerMain__microphone-icon:hover {
  color: red;
}

.headerMain__search-btn-wrapper {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-gold-color);
  cursor: pointer;
}

.headerMain__search-btn {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.navBar {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navBar-item {
  height: 100%;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navBar-item>span {
  font-size: 14px;
  color: var(--primary-dark-color);
  font-weight: 500;
  text-align: center;
}

.navBar-item-icon {
  width: 25px;
  height: 24px;
  display: block;
  color: var(--primary-dark-color);
}

.navBar__cart-count {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-dark-color);
  background-color: var(--primary-gold-color);
}


/*  headerBottom start */

.headerBottom {
  height: 54px;
  padding: 0 0 10px;
  display: flex;
  align-items: center;
}

.headerBottom__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerBottom-katalog {
  padding: 10px 16px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fbc100;
  cursor: pointer;
}

.headerBottom-katalog>span,
.headerBottom__nav-item-yellow-weak>span,
.headerBottom__nav-item>span {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .3px;
  color: #333;
}

.headerBottom__nav-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.headerBottom__nav-item-yellow-weak {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  background-color: #000;
  color: var(--primary-gold-color);
  border-radius: 8px;
  cursor: pointer;
}

.headerBottom__nav-item-yellow-weak>span {
  color: var(--primary-gold-color);
}

.headerBottom__nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}


/* headerKatalog start */

.headerKatalog {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
  position: absolute;
  bottom: -544px;
  left: 0;
  z-index: 1050;
}

.headerKatalog-wrapper {
  max-width: 1488px;
  height: calc(70vh - 30px);
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
}

.headerKatalog-nav {
  width: 100%;
  max-width: 340px;
  height: 100%;
  padding: 10px 0;
  overflow: auto;
}

.headerKatalog-nav::-webkit-scrollbar {
  width: 10px;
  background-color: #FFFFFF;
}

.headerKatalog-nav::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(45, 43, 43, 0.668);
  border-radius: 20px;
}

.headerKatalog-nav-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.headerKatalog-nav-item:hover {
  background-color: #F3E9C4;
}

.headerKatalog-nav-item>span {
  margin-left: 16px;
}

.headerKatalog-nav-img-icon {
  width: 24px;
  height: 24px;
}

.headerKatalog-nav-arrow-icon {
  width: 18px;
  height: 18px;
  margin-left: auto;
}

.headerKatalog-nav-bar {
  width: 100%;
  height: 100%;
  padding: 33px 0 28px 40px;
  overflow: auto;
  position: relative;
}

.headerKatalog-nav-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #FFFFFF;
}

.headerKatalog-nav-bar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(45, 43, 43, 0.668);
  border-radius: 20px;
}

.headerKatalog-nav-bar-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.headerKatalog-nav-bar-links-wrapper {
  display: grid;
  gap: 12px;
}

.headerKatalog-nav-bar-links-wrapper>a {
  color: var(--primary-dark-color);
}


.headerKatalog-nav-bar-sub__title-wrapper {
  margin-bottom: 16px;
  border-bottom: 1px solid transparent;
}

.headerKatalog-nav-bar-sub__title {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

@media only screen and (max-width: 1024px) {
  .navBar-item>span {
    display: none;
  }
}

@media only screen and (max-width: 956px) {
  .navBar-item>span {
    display: block;
  }

  .headerKatalog-wrapper {
    padding: 0 24px;
  }

  .headerKatalog-nav-item {
    padding: 8px 16px;
  }

  .navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    justify-content: space-between;
    padding: 7px 30px;
    background-color: var(--primary-dark-color);
  }

  .navBar-item {
    margin: 0;
  }

  .navBar-item>span,
  .navBar-item-icon {
    color: var(--primary-light-color);
  }

  .headerMainWrapper {
    padding: 0;
  }

  .headerMainWrapper {
    display: block;
  }

  .headerMain__logo-wrapper>img {
    width: 152px;
    height: 26px;
  }

  .headerTop-location {
    display: flex;
    margin: 0;
  }

  .headerTop-number {
    display: flex;
  }

  .headerMain_location_bar {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerMain__search {
    max-width: 100%;
    height: 32px;
    margin-bottom: 15px;
  }

  .headerMain__select-wrapper {
    display: none;
  }

  .headerMain__search-btn-wrapper {
    display: none;
  }

  .headerMain__hamburger {
    display: block;
  }

  .headerMain__microphone {
    position: static;
  }

  .headerBottom {
    display: none;
  }

  .header__search-mobile-fixed {
    max-width: 100%;
  }
}

@media screen and (max-width: 512px) {

  .headerKatalog-nav::-webkit-scrollbar {
    width: 3px;
    background-color: #FFFFFF;
  }

  .headerMain_location_bar {
    flex-direction: row-reverse;
  }

  .headerTop-location-bar {
    left: -50px;
  }

  .headerKatalog-wrapper {
    padding: 0 10px;
  }

  .headerKatalog-nav-bar-title {
    margin-bottom: 12px;
  }

  .headerKatalog-nav-bar {
    padding: 10px 0 10px 10px;
  }

  .headerKatalog-nav-item {
    padding: 10px 4px;
  }

  .headerKatalog-nav-img-icon {
    width: 20px;
    height: 20px;
  }

  .headerTop-number {
    display: none;
  }

  .navBar-item>span {
    font-size: 10px;
  }

  .navBar-item-icon {
    width: 20px;
    height: 20px;
  }

  .headerMain__microphone-icon {
    width: 20px;
    height: 20px;
  }
}